<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MMM-yyyy hh:mm:ss a } %level %c - %m - %-1X{loginUsuario} - %-1X{sistema} - %-1X{ipCliente}%n" />
        </Console>
        <JDBC name="semarhp" tableName="log.app_logs">
            <ConnectionFactory class="br.gov.al.maceio.siimm.comum.util.ConnectionFactory" method="getConnection" />
            <Column name="data_entrada" isEventTimestamp="true" />
            <Column name="classe" pattern="%logger" isUnicode="false" />
            <Column name="log_level" pattern="%level" isUnicode="false" />
            <Column name="acao" pattern="%m" isUnicode="false" />
            <Column name="exception" pattern="%throwable" isUnicode="false" />
            <Column name="login_usuario" pattern="%-1X{loginUsuario}" isUnicode="false" />
            <Column name="sistema" pattern="%-1X{sistema}" isUnicode="false" />
            <Column name="ip_cliente" pattern="%-1X{ipCliente}" isUnicode="false" />
        </JDBC>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="Console" />
            <AppenderRef ref="semarhp" />
        </Root>
        <Logger name="br" level="TRACE" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="semarhp" />
        </Logger>
        <logger name="br.gov.al.maceio" additivity="false">
            <AppenderRef ref="Console" />
            <AppenderRef ref="semarhp" />
        </logger>
    </Loggers>
</Configuration>